{% extends 'base.html' %}

{% block head %}
<title>Elderspeak normalizer</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Spraak uploaden of opnemen</h2>
            <input type="file" id="mp3_elder" name="mp3_elder" accept="audio/mpeg, audio/mpeg3,.mp3">
            <button type="button" id="btn-record-elder" class="btn btn-primary">audio opnemen</button>
            <p id="saved_elder" class="text-primary hidden my-2">De audio is opgeslagen!</p>
            <audio id=recordedAudioElder></audio>
        </div>
    </div>

    <input type="checkbox" id="extract_text">
    <label for="extract_text">Extract text</label>
    <div class="row">
        <a class="btn btn-primary" id="process">Verwerk audio</a>
        <div class="d-flex justify-content-center ">
            <div id="loading" class="spinner-border hidden" role="status"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div>Pitch: <span id="pitch_elder"></span></div>
            <div>Loudness: <span id="loudness_elder"></span></div>
            <div>Pitch Filtered: <span id="pitch_elder_filtered"></span></div>
            <div>Loudness Filtered: <span id="loudness_elder_filtered"></span></div>
            <div>Stilte t.o.v totaal: <span id="sil_tot_elder"></span></div>
            <div>Stilte percentage: <span id="sil_perc_elder"></span></div>
        </div>
    </div>




    <div class="row" id="big-content"></div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}